body {
  font-family: 'Inter', sans-serif;
}
.inter {
  font-family: 'Inter', sans-serif;
}
.nunito {
  font-family: 'Nunito Sans', sans-serif;
}
.secondary-text {
  color: var(--secondary-text-color);
}
input[type='checkbox'] {
  accent-color: #554ef1;
}
.text-only-btn:hover {
  color: var(--primary-button-color);
}
.svg-icons {
  stroke: var(--primary-button-color);
}
.svg-icons-fill {
  fill: var(--primary-button-color);
}
:root {
  --text-color: #000000;
  --secondary-text-color: #575c61;
  --lightBodyColor: #ffffff;
  --primary-button-color: #6050dc;
  --primary-button-hover-color: #614eef;
  --accent-color: #f8f8f8;
  --secondary-button-color: #6050dc;
  --secondary-button-hover-color: #6f5eed;
  --side-bar-color: #f8f8f8;
  --main-chat-ui-color: #ffffff;
  --loading-box: linear-gradient(90deg, #000000, #252525, #323232);
}
